* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 16px;
}

main {
  height: 100vh;
  background-image: url(/images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-size: contain;
}

.main-header,
.content-container {
  display: flex;
  flex-direction: row;
}

.main-header img {
  margin: 3rem 0 0 2rem;
  width: 12rem;
}

.content-container {
  justify-content: center;
  align-content: center;
}

/* REGISTER SECTION */
.register-container {
  order: 1;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}

.register-container h1 {
  font-size: 35px;
}

.register-container p {
  margin-top: -5rem;
  font-family: "Open Sans";
  font-weight: 0;
}

.register-container button {
  margin-top: -5rem;
  width: 200px;
  height: 35px;
  background-color: white;
  font-family: "Poppins";
  font-size: 1rem;
  color: hsl(257, 40%, 49%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 8px 6px -6px black;
}


/* SCREEN SECTION */
.screen-container {
  margin: 3rem 2rem 0 0;
}

.screen-container img {
  height: 30rem;
}

/* SOCIAL MEDIA SECTION */

.icon-container {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 25%;
  display: flex;
  justify-content: center;
}

.icon-container li {
  list-style: none;
  height: 35px;
  width: 35px;
  font-size: 20px;
  margin: 0 10px;
}

.icon-container .social {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}


/* MEDIA QUERIES  */
@media screen and (max-width: 375px) {
  main {
    height: 100vh;
    background-image: url(/images/bg-mobile.svg) background-size: contain;
  }

  .main-header img {
    width: 7rem;
  }

  .main-header,
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .screen-container {
    margin: 3rem 0 0 0.75rem;
  }

  .screen-container img {
    height: 15rem;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    margin: 0 auto;
  }

  .register-container h1 {
    font-size: 25px;
  }

  .register-container p {
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .register-container button {
    margin: 1rem 0 0 1rem;
    width: 100px;
    height: 35px;
    font-size: 1rem;
  }

  .icon-container {
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    width: 50%;
  }
}